
<!-- Footer -->
<footer class="page-footer font-small indigo fixed-bottom">


    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Dibangun menggunakan 
    	<a href="https://rubyonrails.org">Ruby on Rails</a> dan <a href="https://getbootstrap.com">Bootstrap</a> oleh <a href="https://facebook.com/fransiskusyosef/">Y.B. Widyokarsono, S.Kom</a>
    </div>
    <!-- Copyright
    <div class="footer-copyright text-center py-3">© 2018 Hak cipta:
      <a href="https://mdbootstrap.com/education/bootstrap/">Bimas Katolik Kementerian Agama Kabupaten Sumba Tengah</a>
    </div>
    -->

  </footer>
  <!-- Footer -->