  <!-- Footer Links -->
  <div class="container text-center text-md-left">
  	<!-- Grid row -->
  	<div class="row">
  		<!-- Grid column -->
  		<div class="col-md-12 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Website terkait:</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://kemenag.go.id/">Kementerian Agama Republik Indonesia Pusat</a>
            </li>
            <li>
              <a href="https://bimaskatolik.kemenag.go.id/">Bimas Katolik Pusat</a>
            </li>
            <li>
              <a href="https://ntt.kemenag.go.id/">Kantor Wilayah Kementerian Agama Provinsi Nusa Tenggara Timur</a>
            </li>
          </ul>

      </div>
        <!-- Grid column -->
    </div>
      <!-- Grid row -->

  </div>