<%= render "partial/navigation" %>
<h1>Salve</h1>
<p class="lead">Selamat datang di Bimas Katolik Sumba Tengah. Untuk memulai, Anda dapat memilih salah satu dari menu yang tersedia</p>
<a class="btn btn-lg btn-primary" href="/docs/4.2/components/navbar/" role="button">Yuk....</a>